Keith Dahlby <dahlbyk@gmail.com> <kdahlby@jpcycles.com>
Jameson Miller <jamill@microsoft.com> <jameson.miller@live.com>
Ben Straub <bs@github.com> <bstraub@github.com>
Saaman <romain.magny@gmail.com>
nulltoken <emeric.fermas@gmail.com>
Martin Woodward <martin.woodward@microsoft.com> <martinwo@microsoft.com>
Carlos Martín Nieto <cmn@dwim.me> <carlos@cmartin.tk>
someoneigna <someoneigna@gmail.com> <someoneigna@gmail.com>
