Keith Dahlby <dahlbyk@gmail.com> <kdahlby@jpcycles.com>
Jameson Miller <jamill@microsoft.com> <jameson.miller@live.com>
Ben Straub <bs@github.com> <bstraub@github.com>
Saaman <romain.magny@gmail.com>
nulltoken <emeric.fermas@gmail.com>
