<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="CodeGeneration.Roslyn" value="https://ci.appveyor.com/nuget/codegeneration-roslyn" />
  </packageSources>
</configuration>