name: CI
on:
  push:
    branches: [master, release-*]
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-*'
  pull_request:
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.2
        with:
          fetch-depth: 0
      - name: Install .NET SDK
        uses: actions/setup-dotnet@v4.0.0
        with:
          dotnet-version: 8.0.x
      - name: Build
        run: dotnet build LibGit2Sharp.sln --configuration Release
      - name: Upload packages
        uses: actions/upload-artifact@v4.3.1
        with:
          name: NuGet packages
          path: artifacts/package/
          retention-days: 7
      - name: Verify trimming compatibility
        run: dotnet publish TrimmingTestApp
  test:
    name: Test / ${{ matrix.os }} / ${{ matrix.arch }} / ${{ matrix.tfm }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        arch: [ x64 ]
        os: [ windows-2019, windows-2022, macos-11, macos-12, macos-13 ]
        tfm: [ net472, net6.0, net8.0 ]
        exclude:
          - os: macos-11
            tfm: net472
          - os: macos-11
            tfm: net8.0
          - os: macos-12
            tfm: net472
          - os: macos-13
            tfm: net472
        include:
          - arch: arm64
            os: macos-14
            tfm: net6.0
          - arch: arm64
            os: macos-14
            tfm: net8.0
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.2
        with:
          fetch-depth: 0
      - name: Install .NET SDK
        uses: actions/setup-dotnet@v4.0.0
        with:
          dotnet-version: |
            8.0.x
            6.0.x
      - name: Run ${{ matrix.tfm }} tests
        run: dotnet test LibGit2Sharp.sln --configuration Release --framework ${{ matrix.tfm }} --logger "GitHubActions" /p:ExtraDefine=LEAKS_IDENTIFYING
  test-linux:
    name: Test / ${{ matrix.distro }} / ${{ matrix.arch }} / ${{ matrix.tfm }}
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        arch: [ amd64 ]
        # arch: [ amd64, arm64 ]
        distro: [ alpine.3.13, alpine.3.14, alpine.3.15, alpine.3.16, alpine.3.17, alpine.3.18, centos.stream.8, debian.10, debian.11, fedora.36, fedora.37, ubuntu.18.04, ubuntu.20.04, ubuntu.22.04 ]
        sdk:  [ '6.0', '8.0' ]
        exclude:
          - distro: alpine.3.13
            sdk: '8.0'
          - distro: alpine.3.14
            sdk: '8.0'
          - distro: alpine.3.15
            sdk: '8.0'
          - distro: alpine.3.16
            sdk: '8.0'
          - distro: debian.10
            sdk: '8.0'
          - distro: fedora.36
            sdk: '8.0'
          - distro: ubuntu.18.04
            sdk: '8.0'
        include:
          - sdk: '6.0'
            tfm: net6.0
          - sdk: '8.0'
            tfm: net8.0
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.2
        with:
          fetch-depth: 0
      - name: Setup QEMU
        if: matrix.arch == 'arm64'
        run: docker run --rm --privileged multiarch/qemu-user-static:register --reset
      - name: Run ${{ matrix.tfm }} tests
        run: |
            git_command="git config --global --add safe.directory /app"
            test_command="dotnet test LibGit2Sharp.sln --configuration Release -p:TargetFrameworks=${{ matrix.tfm }} --logger "GitHubActions" -p:ExtraDefine=LEAKS_IDENTIFYING"
            docker run -t --rm --platform linux/${{ matrix.arch }} -v "$PWD:/app" gittools/build-images:${{ matrix.distro }}-sdk-${{ matrix.sdk }} sh -c "$git_command && $test_command"

